<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? || @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= fields_for @user do |user_form| %>
    <div class="control-group">
      <%= user_form.label :username, :class => 'control-label' %>
      <div class ="controls">
        <%= user_form.text_field :username, :class => 'input-xlarge' %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class ="controls">
      <%= f.text_field :name, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :about_me, :class => 'control-label' %>
    <div class ="controls">
      <%= f.text_area :about_me, :class => 'input-block-level' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :favorite_language, :class => 'control-label' %>
    <div class ="controls">
      <%= f.text_field :favorite_language, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :github, :class => 'control-label' %>
    <div class ="controls">
      <%= f.text_field :github, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
     <%= f.submit 'Submit', :class => 'btn btn-primary' %> <%= link_to 'Back', path, :class => 'btn' %>
  </div>
<% end %>
