<style type="text/css">
    <%== Pygments.css('.highlight', {:style => "monokai"}) %>
</style>
<div class="row-fluid">
  <div class="span3">
    <div class="sidebar-nav sidebar-nav-fixed">
      <p><%= image_tag Gravatar.new(@user.email).image_url, size: '256x256' %></p>
      <p><span class="name"><%= @profile.name %></span></p>
      <p><span class="username lighter"><%= @user.username %></span></p>
      <hr>
      <p class="lighter">
        <% if !@user.last_sign_in_at.blank? %>
          <b>Last Logged In:</b> <%= @user.last_sign_in_at.to_date.to_formatted_s(:long) %>
        <% end %>
        <br>
        <b>Joined:</b> <%= @user.created_at.to_date.to_formatted_s(:long) %>
        <br>
        <% if !@profile.github.blank? %>
          <b>Github Username:</b>
            <a href="https://github.com/<%=@profile.github%>"><%=@profile.github%></a>
        <%end%>
        <br>
        <% if !@profile.language.blank? %>
          <b>Favorite Language:</b>
            <%=@profile.language.name%></a>
        <%end%>
    </div>
  </div>
  <div class="span9 lighter">
    <p><%= @profile.about_me %></p>
    <hr>
    <ul id="solutions">
      <%= render 'solutions/solutions' %>
    </ul>
    <hr>
    <% if can? :edit, @profile %><%= link_to 'Edit', edit_profile_path(@profile) %> |<% end %>
    <%= link_to 'Back', profiles_path %>
  </div>
</div>