<div class="row-fluid">
    <div class="span1">
      <div class = "pull-right">
        <div class="blockcenter">
          <a href="
            <% if solution %>
              <%= upvote_problem_solution_comment_path(@problem, @solution, comment) %>
            <% else %>
              <%= upvote_problem_comment_path(@problem, comment)%>
            <%end%>"
            data-method="put" class="nodecoration">
            <i class="icon-angle-up icon-large"> </i>
          </a>
        </div>
        <div class="blockcenter"><%=comment.votes %></div>
        <div class="blockcenter">
          <a href="
            <% if solution %>
              <%= downvote_problem_solution_comment_path(@problem, @solution, comment) %>
            <% else %>
              <%= downvote_problem_comment_path(@problem, comment)%>
            <%end%>"
            data-method="put" class="nodecoration">
            <i class="icon-angle-down icon-large" ></i>
          </a>
        </div>
      </div>
    </div>
    <div class="span11" style="padding-top: 10.5px;">
      <div class="well well-small">
        <div class="pull-right">
          <i class="icon-warning-sign"><a href="
            <% if solution %>
              <%=new_problem_solution_comment_flag_path(@problem, @solution, comment)%>
            <% else %>
              <%=new_problem_comment_flag_path(@problem, comment)%>
            <% end %>"></i> Report Comment</a>
        </div>
        <h4> <a href="<%= profile_path comment.profile %>">
         <%= comment.profile.user.username %>
        </a></h4>

        <p><%== comment.rendered_body %></p>
      </div>
    </div>
  </div>