<div class = "well well-small compact-form">

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <legend>Sign in</legend>
  <%= f.input :login,
    input_html: { class: 'input-xlarge', placeholder: 'Email or Username'},
    label: false %>
  <%= f.input :password,
    input_html: { class: 'input-xlarge', placeholder: 'Password'},
    label: false %>
  <%= f.input :remember_me,
    :as => :boolean,
    :label => false,
    :inline_label => true
    if devise_mapping.rememberable? %>
  <%= f.button :submit, "Sign in", :class=> 'btn btn-primary' %>
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && display_forgot  %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
<% end -%>
</div>
