<div>

  <!-- toolbar -->
  <span class="pull-right">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Recent</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><input type="text" class="input-medium search-query pull-right" placeholder="Search"></li>
    </ul>
  </span>

  <!-- header -->
  <h1>Problems</h1>

</div>

<div class="row-fluid">

  <!-- categories -->
  <div class="span3">
    <ul class="nav nav-list well well-small">
      <li class="nav-header">Categories</li>
      <li class="active"><a href="#">All</a></li>
      <li><a href="#">Math</a></li>
      <li><a href="#">Science</a></li>
      <li><a href="#">Data</a></li>
      <li><a href="#">Storage</a></li>
    </ul>
  </div>

  <!-- problem list -->
  <div class="span9">
    <% @problems.each do |problem| %>
      <div class="row-fluid well well-small">
        <div class="span3">
          <%= link_to problem.name, problem %>
          <span class="muted">(<%= problem.points %> points)</span>
        </div>
        <div class="span9">
          <%= problem.description %>
        </div>
      </div>
    <% end %>
    <% if can? :create, @problem  %>
        <%= link_to 'New Problem', new_problem_path %>
    <% end %>
    <div class= "pagination-centered">
      <%= will_paginate @problems %>
    </div>
  </div>


</div>
