<p>
  <b>Problem name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>

<p>
  <b>Point value:</b>
  <%= @problem.points %>
</p>

<hr>

<ul>
<% @solutions.each do |solution| %>
  <%= render 'solutions/compact', solution: solution %>
<% end %>
<div class="pagination-centered">
  <%= will_paginate @solutions %>
</div>
</ul>

<%= link_to 'New Solution', new_problem_solution_path(@problem) %> |
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Destroy', @problem, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', problems_path %>

<h2>Comments</h2>
<%= render 'comments/show', comments: @problem.comments%>
<%= render 'comments/form', form_array: [@problem, @problem.comments.build] %>
