<style type="text/css">
    <%== Pygments.css('.highlight', {style: "default"}) %>
</style>
<%= render_breadcrumbs %>
<h1>
  <%= @problem.name %>
  <span class="muted">(<%= @problem.points %> points)</span>
</h1>
<div class="pull-right">
  <div class="btn-group">
    <%= link_to 'New Solution', new_problem_solution_path(@problem), class: "btn btn-primary" %>
    <% if can? :edit, Problem %>
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="<%=edit_problem_path(@problem)%>"><i class="icon-pencil"></i> Edit Problem</a></li>
        <li><a href="<%= @problem %>" data-method="delete" data-confirm="Are you sure?" %><i class="icon-trash"></i>  Delete Problem</a></li>
      </ul>
    <% end %>
  </div>
</div>

<p><%== @problem.rendered_description %></p>

<hr>

<ul id="solutions">
  <%= render 'solutions/solutions' %>
</ul>

<h2>Comments</h2>
<%= render 'comments/show', comments: @problem.comments, solution: false %>
<%= render 'comments/form', form_array: [@problem, @problem.comments.build] %>
