<p id="notice"><%= notice %></p>

<h1>
  <%= @problem.problem_name %>
  <span class="muted">(<%= @problem.point_value %> points)</span>
</h1>

<p><%= @problem.description %></p>

<hr>

<ul>
<% @problem.solutions.each do |solution| %>
  <li class="well well-small"><%= solution.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Destroy', @problem, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', problems_path %>
