<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :username, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :username, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Re-type Password', :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :salt, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :salt, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :points, :class => "control-label" %>
    <div class="controls">
      <%= f.number_field :points, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-groups">
    <%= f.submit 'Submit' ,  :class => 'btn btn-primary' %>
  </div>
<% end %>
