<%= form_for(@langague) do |f| %>
  <% if @langague.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@langague.errors.count, "error") %> prohibited this langague from being saved:</h2>

      <ul>
      <% @langague.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language_family %><br />
    <%= f.text_field :language_family %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
