<h1>Listing langagues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Language family</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @langagues.each do |langague| %>
  <tr>
    <td><%= langague.name %></td>
    <td><%= langague.language_family %></td>
    <td><%= link_to 'Show', langague %></td>
    <td><%= link_to 'Edit', edit_langague_path(langague) %></td>
    <td><%= link_to 'Destroy', langague, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Langague', new_langague_path %>
