<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @langague.name %>
</p>

<p>
  <b>Language family:</b>
  <%= @langague.language_family %>
</p>


<%= link_to 'Edit', edit_langague_path(@langague) %> |
<%= link_to 'Back', langagues_path %>
