<li class="dropdown <% if path_is? profile_url %>active<% end %>">
  <a href="#" class="avatar-link dropdown-toggle" data-toggle="dropdown">
    <%= image_tag Gravatar.new(email).image_url, size: '30x30', :class => "avatar" %>
    <%= username %>
    <i class="icon-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li><a href="<%=profile_path(current_user.username) %>"><i class="icon-user"></i> View Profile</a></li>
    <li><a href="<%=edit_profile_path(current_user.username) %>"><i class="icon-pencil"></i> Edit Profile</a></li>
    <li><a href="<%=edit_user_registration_path %>"><i class="icon-cog"></i> Account Settings</a></li>
  </ul>
</li>
