= simple_form_for get_flag_path_array(@problem, @solution, @comment, @flag) do |f|
  = f.input :reason, collection: @comment.nil? ? Flag::REASONS_SOLUTIONS : Flag::REASONS_COMMENTS, as: :radio_buttons
  = f.input :explanation, input_html:                              |
    { class: 'input-xxlarge', maxlength:750, rows: 10 }, as: :text |
  = f.button :submit, 'Report', :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), |
    @path, :class => 'btn'                                       |
