<h1>Listing langage_families</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @langage_families.each do |langage_family| %>
  <tr>
    <td><%= langage_family.name %></td>
    <td><%= langage_family.description %></td>
    <td><%= link_to 'Show', langage_family %></td>
    <td><%= link_to 'Edit', edit_langage_family_path(langage_family) %></td>
    <td><%= link_to 'Destroy', langage_family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Langage family', new_langage_family_path %>
