<style type="text/css">
  .solution, .highlighted {
    margin: 0px;
  }
</style>

<% css_id = SecureRandom.uuid %>

<div class="solution well well-small" onclick="$('#<%= css_id %>').slideToggle()">
  <span class="pull-right">Submitted By: <%= User.find(solution.profile_id).username %></span>
  <%= solution.score %> <%= link_to solution.problem.problem_name, solution %>
</div>

<pre class="highlighted" id="<%= css_id %>"><code><%= solution.code %></code></pre>
