<div class="well well-small">
  <h2><%= @solution.score %> <%= @solution.problem %>: <%= @solution.name %></h2>

  <h3 class="pull-right">Submitted By: <%= @solution.user %></h3>

  <pre><%= @solution.code %></pre>

  <%= link_to 'Show', @solution %>
  <%= link_to 'Edit', edit_solution_path(@solution) %>
  <%= link_to 'Destroy', @solution, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
