= simple_form_for([problem, solution]) do |f|
  - if solution.errors.any?
    #error_explanation
      %h2
        = pluralize(solution.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - solution.errors.full_messages.each do |msg|
          %li= msg
  = f.association :language do
    = f.select :language_id, Language.all.map { |l| [l.name, l.id, { "data-syntax" => l.ace_syntax }] },{}, {"data-placeholder" => "Choose a Language...", class: "input-xlarge", id: "solutionlang" }
  = f.input :code,                            |
    error: false,                             |
    input_html: { class: 'input-block-level'} |
  #editor
  = f.button :submit, class: 'btn btn-primary'
  = link_to 'Back', back_path, :class => 'btn'
  :javascript
    var editor = ace.edit("editor");
    var textarea = $('textarea[id="solution_code"]').hide()
    editor.getSession().setValue(textarea.val());
    editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
    });
    editor.setTheme("ace/theme/xcode");
