<%= form_for([problem, solution]) do |f| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="control-group">
      <div class="controls">
        <select data-placeholder="Choose a Language..." class="chzn-select" style="width:350px;" tabindex="2">
          <option value=""></option> 
          <% @languages.each do |language| %>
            <option value=<%= language.name %> ><%= language.name %></option> 
          <% end %>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :code, :class => 'input-block-level'%>
        <div id="editor"></div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %> <%= link_to 'Back', [problem, solution], :class => 'btn right' %>
      </div>
    </div>
<% end %>
    <script>
        var editor = ace.edit("editor");
        var textarea = $('textarea[id="solution_code"]').hide()
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
            textarea.val(editor.getSession().getValue());
        });
        editor.setTheme("ace/theme/monokai");
    </script>
