<%= form_for(@solution) do |f| %>
  <% if @solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% @solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :user_submitted, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_submitted, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :up_votes, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :up_votes, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :down_votes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :down_votes, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :problem, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :problem, :class => 'input-xlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :code, :class => 'input-block-level' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
