<style type="text/css">
    <%== Pygments.css('.highlight', {style: "default"}) %>
</style>
<%= render_breadcrumbs %>
<div>

  <!-- toolbar -->
  <span class="pull-right">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Recent</a></li>
      <li><a href="#">Popular</a></li>
      <li><a href="#">Trending</a></li>
      <li><input type="text" class="input-medium search-query pull-right" placeholder="Search"></li>
    </ul>
  </span>

  <!-- header -->
  <h1>Solutions<%= " for #{@problem.name}" if !@problem.nil? %></h1>

</div>

<div class="row-fluid">

  <!-- languages -->
  <div class="span3">
    <ul class="nav nav-list well well-small">
      <li class="nav-header">Languages</li>
      <%if @problem.nil?
          solutions = Solution.all
        else
          solutions = @problem.solutions
        end %>
        <li <%if @language_id == 0 %> class="active"<%end%>><a href="<%=@path%>">All</a></li>
        <% hash = Hash.new(0)
        solutions.each do |x|
          hash[x.language] += 1
        end
        Hash[hash.sort_by{|language, count| language.name}].each do |language, count|
          if @problem.nil?
            path = solutions_path(language: language.id)
          else
            path = problem_solutions_path @problem, language: language.id
          end %>
          <li <%if @language_id == language.id %> class="active"<%end%>><a href="<%= path %>"><%= "#{language.name} (#{count})" %></a></li>
      <%end %>
    </ul>
  </div>

  <!-- problem list -->
  <div class="span9" id="solutions">
    <%= render partial: 'solutions' %>
  </div>
</div>
