%style{type: 'text/css'}
  != Pygments.css('.highlight', {style: "default"})
= render_breadcrumbs
%div
  / toolbar
  %span.pull-right
    %ul.nav.nav-pills
      %li.active
        %a{:href => "#"} Recent
      %li
        %a{:href => "#"} Popular
      %li
        %a{:href => "#"} Trending
      %li
        %input.input-medium.search-query.pull-right{:placeholder => "Search", :type => "text"}/
  / header
  %h1
    Solutions#{" for #{@problem.name}" if !@problem.nil?}
.row-fluid
  / languages
  .span3
    %ul.nav.nav-list.well.well-small
      %li.nav-header Languages
      %li.active
        %a{:href => "#"} All
      - if @problem.nil?
        - solutions = Solution.all
      - else
        - solutions = @problem.solutions
      - hash = Hash.new(0)
      - solutions.each do |x|
        - hash[x.language] += 1
      - Hash[hash.sort_by{|language, count| language.name}].each do |language, count|
        %li
          %a{:href => "##{language.name}"}= "#{language.name} (#{count})"
  / problem list
  #solutions.span9
    = render partial: 'solutions'
