<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Code</th>
    <th>User submitted</th>
    <th>Up votes</th>
    <th>Down votes</th>
    <th>Problem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @solutions.each do |solution| %>
  <tr>
    <td><%= solution.code %></td>
    <td><%= solution.up_votes %></td>
    <td><%= solution.down_votes %></td>
    <td><%= link_to 'Show', problem_solution_path(solution) %></td>
    <td><%= link_to 'Edit', edit_problem_solution_path(solution) %></td>
    <td><%= link_to 'Destroy', solution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
