<p>
  <b>Code:</b>
  <%= @solution.code %>
</p>


<p>
  <b>Up votes:</b>
  <%= @solution.up_votes %>
</p>

<p>
  <b>Down votes:</b>
  <%= @solution.down_votes %>
</p>

<p>

 <a href="<%= upvote_problem_solution_path %>" data-method="put">Upvote</a> |
<a href="<%= downvote_problem_solution_path %>" data-method="put">Downvote</a>

<%= link_to 'Edit', edit_problem_solution_path(@problem, @solution) %> |
<%= link_to 'Back', solutions_path%>

<%= render 'comments/show', comments: @solution.comments, solution:true %>
<%= render 'comments/form', form_array: [@problem, @solution, @solution.comments.build] %>