<p>
  <b>Code:</b>
  <%= @solution.code %>
</p>


<p>
  <b>Up votes:</b>
  <%= @solution.up_votes %>
</p>

<p>
  <b>Down votes:</b>
  <%= @solution.down_votes %>
</p>

<p>


<%= link_to 'Edit', edit_problem_solution_path(@problem, @solution) %> |
<%= link_to 'Back', solutions_path%>

<%= render 'comments/show', comments: @solution.comments %>
