<style type="text/css">
    <%== Pygments.css('.highlight', {style: "default"}) %>
</style>
<%= render_breadcrumbs %>
<div class="accordion" id="accordion">
  <%= render partial: @solution, locals: {solution_counter: 0, collapsed: false}, cache: true %>
</div>
<div class="pull-right">
  <div class="btn-group">
    <% if can? :create, Flag %>
      <%= link_to 'Solution', "#", class: "btn btn-primary" %>
      <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="<%=new_problem_solution_flag_path(@problem, @solution)%>"><i class="icon-warning-sign"></i> Report Solution</a></li>
        <% if can? :edit, @solution %>
          <li class="divider"></li>
          <li><a href="<%=edit_problem_solution_path(@problem, @solution)%>"><i class="icon-pencil"></i> Edit Solution</a></li>
          <li><a href="<%= problem_solution_path(@Solution, @solution) %>" data-method="delete" data-confirm="Are you sure?" %><i class="icon-trash"></i>  Delete Solution</a></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
<br>
<style>
.solution:hover{
  cursor:default;
  border: none;
  box-shadow: none;
}
</style>

<%= render 'comments/show', comments: @solution.comments, solution:true %>
<%= render 'comments/form', form_array: [@problem, @solution, @solution.comments.build] %>

<script>
  $('.hide').show()
</script>