<!DOCTYPE html>
<html>
<head>
  <title>Code Flash</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container-fluid" id="main">

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">Code Flash</a>
        <ul class="nav">
          <%= navbar_link 'Problems', '/problems', 'question-sign' %>
          <%= navbar_link 'Achievements', '/achievements', 'star' %>
          <%= navbar_link 'Languages', '/languages', 'list' %>
          <%= navbar_link 'Users', '/users', 'user' %>
          <%= navbar_link 'Profile', '/profiles', 'briefcase' %>
          <%= navbar_link 'Log in', '/login', 'chevron-right' %>
        </ul>
      </div>
    </div>

    <%= yield %>

  </div>

</body>
</html>
